<a href="https://colab.research.google.com/github/GabrielPaiva1/NF3-BIG-DATA-Gabriel-Severo-Paiva/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Gabriel Severo Paiva
#202203600397
import pandas as pd
dts = pd.read_csv('https://raw.githubusercontent.com/GabrielPaiva1/NF3-BIG-DATA-Gabriel-Severo-Paiva/main/world_alcohol.csv',encoding= 'latin-1', sep = ',')
dts

In [ ]:
#agrupar por tipos de bebida
tipbebidas = dts.groupby('Beverage Types')


for grupo, dados in tipbebidas:
    print("Grupo:", grupo)
    display(dados)
    print()

In [ ]:
#b. Agrupe os dados por Região e por Ano;
reg_ano = dts.groupby(['Year','Country'])

for grupo, dados in reg_ano:
    print("Grupo:", grupo)
    display(dados)
    print()

In [ ]:
# Seção de Contagens: Contar a ocorrência de Regiões, de Países e a soma da coluna de valores
#por Bebida.
reg_somav = dts[['WHO region','Country','Display Value','Beverage Types']].groupby(['Beverage Types','WHO region','Country',]).sum()
reg_somav

In [ ]:
#Realize análises estatísticas da coluna dos valores: Média, Moda, Mediana, Estatística
#Descritiva e Gráfico de comparação dos valores agrupados por tipo de bebida.

import matplotlib.pyplot as plt

# Realizar análises estatísticas da coluna dos valores
media = dts['Display Value'].mean()
moda = dts['Display Value'].mode()
mediana = dts['Display Value'].median()
estatistica_descritiva = dts['Display Value'].describe()

# análises estatísticas
print('\nMédia:\n', media)
print('\nModa:\n', moda)
print('\nMediana:\n', mediana)
print('\nEstatística Descritiva:\n', estatistica_descritiva)

# Gráfico por tipo de bebida
soma_bebida = dts.groupby('Beverage Types')['Display Value'].mean()
soma_bebida.plot(kind='bar')
plt.xlabel('Tipos de Bebidas')
plt.ylabel('Valores da Bebida')
plt.show()

In [ ]:
#Mostre resultados de acordo com alguns critérios:
#i. Mostrar a coluna de bebidas do ano de 1985.
bbds1985 = dts.loc[dts['Year'] == 1985]
bbds1985

In [ ]:
# ii. Mostrar a coluna de Região com valores acima de 4.
reg_acima_de_4 = dts.loc[dts['Display Value'] > 4, ['WHO region']]
reg_acima_de_4

In [ ]:
#2
df = pd.read_csv('https://raw.githubusercontent.com/GabrielPaiva1/NF3-BIG-DATA-Gabriel-Severo-Paiva/main/cursos-prouni.csv',encoding = 'latin-1',sep = ',')
df ['curso_busca'] = df['curso_busca'].str.replace('MatemÃ¡tica','Matemática')
df ['grau'] = df['grau'].str.replace('TecnolÃ³gico','Tecnológico')
df

In [ ]:
# Efetuar a limpeza das colunas de notas: onde tiver NaN (Not a Number), substituir por 0,0.
colunas_notas = ['bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla','nota_integral_cotas','nota_parcial_ampla','nota_parcial_cotas']
df[colunas_notas] = df[colunas_notas].fillna(0.0)
df

In [ ]:
#Agrupe os dados pelo grau (Bacharelado, Licenciatura, etc).
dados_por_grupos = df.groupby('grau')

for graus, dados in dados_por_grupos:
    print("graus:", graus)
    display(dados)
    print()

In [ ]:
#Agrupe os dados pelos cursos de Matemática, Medicina e Pedagogia.
dados_por_curso = df.groupby('curso_busca')

for cursos,dados in dados_por_curso:
    print("cursos:",cursos)
    display(dados)
    print()

In [ ]:
#. Agrupe os dados por Estado e obtenha a média de notas de ordem por Estado.
coluna_dados = df[['grau','turno','mensalidade','bolsa_integral_cotas','bolsa_integral_ampla','bolsa_parcial_cotas','bolsa_parcial_ampla','curso_id','curso_busca','cidade_busca','uf_busca','universidade_nome','campus_nome','campus_id','nome','nota_integral_ampla','nota_integral_cotas','nota_parcial_ampla','nota_parcial_cotas']]
coluna_dados.groupby('uf_busca').mean()

In [ ]:
#Agrupe os dados pelos cursos Tecnológicos.
cursos_tecnologia = df.loc[df['grau'] == 'Tecnológico']
cursos_tecnologia

In [ ]:
#Elimine a coluna “cidade_filtro” do dataframe.
df = df.drop('cidade_filtro', axis=1)
df

In [ ]:
#Apresente a média das mensalidades dos cursos de Medicina.
cursos_medicina = df[df['nome'] == 'Medicina']
cursos_medicina['mensalidade'].mean

In [ ]:
#Média das notas de corte dos cursos de tempo integral.
turno = df.groupby('turno')

media_tempo_integral = turno.get_group('Integral')['nota_integral_ampla'].mean()
media_tempo_integral

In [24]:
#Estatística Descritiva das Notas Integral Ampla dos cursos de Bacharelado.
turno = df.groupby('turno')

media_curso_tempo_integral = turno.get_group('Integral')['nota_integral_ampla'].mean()
media_curso_tempo_integral

663.1000342465754

In [ ]:
#Gráfico comparativo entre o grau dos cursos (Bacharelado, Licenciatura, Tecnologia, etc)
#pelas Notas Integral de Cotas.import matplotlib.pyplot as plot
import matplotlib.pyplot as plt
curso_integral = df.groupby('grau')['nota_integral_cotas'].mean()
curso_integral.plot.bar(x='grau', y='nota_integral_cotas')
plt.xlabel('Cursos')
plt.ylabel('Notas')
plt.show()